<script>
</script>

<style>
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #36393f;
    overflow: hidden;
}

#app {
    height: 100vh;
}
</style>

<div id="app"></div>
